build/
.cache/
.qt/
.rcc/
include/CMakeFiles/
include/Makefile
include/cmake_install.cmake
src/.cache/
src/CMakeFiles/
src/Makefile
src/cmake_install.cmake
test/CMakeFiles/
test/CTestTestfile.cmake
test/Makefile
test/cmake_install.cmake
test/cmake_test_discovery_*.json
test/unit_tests\[1\]_include.cmake
test/unit_tests\[1\]_tests.cmake
test/unit_tests_autogen/
